html,
body {
  padding: 0;
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&family=Noto+Sans+Mono&display=swap');
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  border: 1px solid #fff
}

.table{
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  border: 1px solid #fff;
}

.candidate{
  padding-left: 1rem;
}

.percentage{
  padding-right: 1rem;
}

.refresh-button{
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #dc4324;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 15px;
}